{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}
{% block container %}
    <header class="header">
        <div class="overlay"></div>
        <div class="container">
            <div class="description rellax">
                <h1>{% trans %}Hello, Welcome to Quiz {% endtrans %}
                    <p>{% trans %}You will find here a huge selection of quizzes for every taste. Quiz - is the best playground for testing your knowledges and having fun :){% endtrans %}</p>
                </h1>
            </div>
        </div>
    </header>
    <div class="about text-center">
        <h1 class="p-3">{% trans %}About{% endtrans %}</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm item">
                    <img src="../img/money.svg" alt="">
                    <p>{% trans %}To start the game, you just need to register. No payments or subscriptions - you can start playing right away!{% endtrans %}</p>
                </div>
                <div class="col-sm item">
                    <img src="../img/friends.svg" alt="">
                    <p>{% trans %}Choose quiz, answer qwestions and participate in the ranking of players from all over the world!{% endtrans %}</p>
                </div>
                <div class="col-sm item">
                    <img src="../img/play-button.svg" alt="">
                    <p>{% trans %}The game works without using a flash, which means that you can even play on an iPad!{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src={{ asset('js/rellax.min.js')}}></script>
    <script src={{ asset('js/rellax.js')}}></script>
{% endblock %}
