<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans %}Restore password{% endtrans %}</title>
</head>
<body>
<div class="container">
    <p>
        <a href="{{ url('restore_password', {'code': user.confirmationCode }) }}">
            {% trans %}Click here to restore your password{% endtrans %}
        </a>
    </p>
    <p>{% trans %}If you don't need restore password, please ignore this message{% endtrans %}</p>
</div>
</body>
</html>